<header id="site-header">
  <nav class="navbar navbar-expand fixed-top navbar-default">
    <div class="container-xl">
      <ul class="navbar-nav mr-auto">
        {%- assign _pages = site.html_pages | where_exp: "page", "page.hide !=
        true" -%} {%- unless _pages == null -%} {%- assign _pages = _pages |
        sort: 'order' -%} {%- for _page in _pages -%}
        <li class="nav-item">
          <a class="nav-link" href="{{- _page.url | relative_url -}}">
            {{- _page.title -}}
          </a>
        </li>
        {% endfor %} {% endunless %}
      </ul>
      <span class="navbar-text"></span>
    </div>
  </nav>
</header>