<div id="sidebar" class="sticky-top">
  <div class="sidebar-left">
    <a class="avatar-container" href="/">
      <img class="avatar" src="{{site.avatar_path}}" alt="Img" />
    </a>
    <div class="user-info">
      <div class="user-name">{{site.name}}</div>
      <div class="user-desc">{{site.job_title}}</div>

      <div class="sidebar-social">
        <ul class="">
          <li class="sidebar-location">
            <p class="sidebar-links">
              <svg class="fas fa-md fa-location-dot"></svg>
              <span>{{ site.location }}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
