@use "sass:map";
$demo-page-max-width: 1150px;
$page-max-width: 1200px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1052px,
  xl: $page-max-width / 0.95,
  xxl: 5000px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1000px,
  xl: $page-max-width,
  xxl: 1600px,
);
$paragraph-spacing: 1rem;

@import "vendor/bootstrap/stylesheets/bootstrap";

:root {
  --border-radius: 0px;
  --body-font: '-apple-system', "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  --header-font: var(--body-font);
  --ui-font: var(--body-font);
  --toc-font: var(--body-font);
}

/*---------------------------------------------
					Common CSS
-----------------------------------------------*/
html {
  overflow-y: scroll;
}

body {
  font-family: var(--body-font);
  // -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: var(--text1);
  margin: 100px 0 100px; /* must be larger than footer size */
  background-color: var(--background0);
  padding-left: 1rem;
  padding-right: 1rem;
}

// Width related items
.l-full-center {
  width: 100%;
  text-align: center;
}
.l-inset {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.l-inset-90 {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.width-restrictor {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
}

@include media-breakpoint-down(lg) {
  .l-inset {
    display: block;
    width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .l-outset {
    margin-left: -30px;
    margin-right: -30px;
  }
}
.caption {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: 2em;
}
.l-max-demo {
  max-width: $demo-page-max-width;
}
.remove-vert-margin {
  margin-top: -1em;
  margin-bottom: -0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  font-style: italic;
}
h4 {
  font-size: inherit;
  font-style: italic;
}
h1,
h2,
h3,
h4 {
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}
h2[id]::before,
h3[id]::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
ul,
ol {
  padding-left: 40px;
  margin: 0;
}
p {
  font-size: inherit;
  line-height: 1.6em;
  margin-top: 0;
  margin-bottom: $paragraph-spacing;
}
li {
  margin-top: 0;
  margin-bottom: $paragraph-spacing;
}
.subtitle {
  color: var(--text2);
  font-family: var(--header-font);
  font-style: italic;
  font-size: 0.9em;
  p {
    margin-bottom: 0.2em;
  }
  margin-bottom: 1rem;
}
hr {
  border-top: 1px solid var(--accent2);
}
a {
  color: var(--text4);
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}
img {
  width: 100%;
}
.page-title {
  margin-bottom: 25px;
  text-align: center;
}
section {
  padding: 40px 0;
}
/* // Single section forms part of a page */
.sub-section-title {
  margin-bottom: 30px;
}
table {
  width: 100%;
  thead {
    font-family: var(--header-font);
  }
  margin-bottom: 1rem;
}

/* Default Table Style */
table {
  border: 1px solid var(--accent2);
  font-size: 0.9em;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  background: var(--accent2);
}
table caption {
  padding: 0.5em;
}
table th,
table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}
/*--
      social icons
  --*/
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2c2c2c;
  margin-right: 25px;
  font-size: 25px;
}
/*--
      Code start
  --*/
pre {
  font-size: 0.85em;
  line-height: inherit;
}
pre.highlight {
  border-radius: var(--border-radius);
  padding: 20px;
}
code.highlighter-rouge {
  color: var(--code-inline);
  font-size: 0.95em;
  padding: 3px;
}
div.highlighter-rouge {
  margin-bottom: $paragraph-spacing;
}
button:focus {
  outline: 0 !important;
  box-shadow: None !important;
}
.button-wrapper {
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-right: 25px;
}
.code-source {
  text-align: right;
  font-style: italic;
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
.page-content {
  h1:first-of-type {
    margin-top: 0px;
  }
  section:first-of-type {
    :first-child {
      margin-top: 0px;
    }
    :first-child {
      margin-top: 0px;
      :first-child {
        margin-top: 0px;
      }
    }
  }
}

/*--
      blockquote start
  --*/
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  border: 1px solid var(--border);
  border-left: 5px solid var(--accent3);
  background-color: var(--background2);
}
blockquote p:first-child {
  margin-top: 0px;
}
blockquote p:last-child {
  margin-bottom: 0px;
}
/*---------------------------------------------
					Header and Footer
-----------------------------------------------*/
/*--
	Header Start
--*/

#navbarCollapse > ul > li:nth-child(1) > a {
  padding-left: 0px;
}
#site-header .navbar-default {
  background-color: var(--background0);
  margin-bottom: 0px;
  border: 0px;
  font-size: 0.9em;
  border-top: 5px solid var(--background0);
  border-bottom: 1px solid var(--background0);
  font-family: var(--ui-font);
  padding-left: 1rem;
  padding-right: 1rem;
  .navbar-nav .nav-link {
    padding-left: 0px;
    padding-right: 1rem;
  }
  ul.navbar-nav {
    margin-left: -0em;
  }
  li {
    margin: 0px 26px 0px 0px;
    a {
      color: var(--text2);
      font-size: 0.85em;
      text-transform: uppercase;
      line-height: 1em;
      padding-bottom: 6px;
    }
    a:hover {
      color: var(--hover2);
    }
  }
}
header {
  .navbar-nav {
    margin-top: 6px;
  }
  .navbar-text {
    padding-top: 0;
    padding-bottom: 0;
  }
  .fa-adjust {
    color: var(--text1);
  }
}
header .nav-bar-icons {
  flex-direction: row;
}
header .navbar-toggler.hamburger {
  padding-top: 7px;
  margin: 2px 0;
}
header .hamburger:hover {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: var(--hover2);
  }
}
button.theme-toggle {
  border: None;
  background-color: inherit;
  padding: 2px;
  color: var(--text2);
}
/*--
	footer Start
--*/
footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden;
  font-family: var(--ui-font);
  font-size: 0.7em;
  a {
    text-decoration: none;
  }
}
footer ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
footer ul li {
  display: inline-block;
  padding: 0px 10px;
  i.fa {
    margin-right: 0.5rem;
  }
}
footer a {
  display: inline-block;
  color: var(--text2);
}
footer ul li a:hover {
  color: var(--hover2);
}
/*--
	sticky footer start
--*/
html {
  position: relative;
  min-height: 100%;
}

/*---------------------------------------------
					Posts List Page Start
-----------------------------------------------*/
#post-list {
  padding-top: 14px;
  // no underlines on hover on a links
  margin-top: 10px;
}

.post-area {
  background-color: var(--background0);
  // bottom border
  border-bottom: 1px solid var(--accent2);
  margin-bottom: 30px;

  color: var(--text1);
  width: 100%;
  p {
    font-size: 0.9em;
  }

  h4,
  h3 {
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-style: normal;
  }

  .paper-authors {
    font-style: italic;
    margin-bottom: 0.5em;
  }

  .card-title > a {
    color: var(--text1);
  }
}
.post-img-container {
  width: 100%;
  max-width: 400px;
  margin-right: auto;
}
.post-img {
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
}
.post-info-container {
  height: 100%;
  position: relative;
}
p.post-excerpt {
  margin-bottom: 0.5em;
}
@include media-breakpoint-down(md) {
  .post-area {
    .post-excerpt {
      margin-top: 0.8em;
    }
    .post-info-container {
      margin-top: 1em;
    }
  }
}

#about-section {
  margin-bottom: 50px;
}
/*---------------------------------------------
					Post Page Start
-----------------------------------------------*/
.TOC {
  background-color: var(--background0);
  border-radius: var(--border-radius);
  display: block;
  margin-bottom: 30px;
  font-size: 0.8em;
  // border-right: 1px solid var(--accent2);

  font-family: var(--toc-font);
  a {
    color: inherit;
    text-decoration: none;
  }
  div > ul > li > a {
    // color: var(--text1);
    font-size: 1.1em;
  }
  details summary > * {
    display: inline;
  }
  details ::marker {
    color: var(--text1);
  }

  h3 {
    color: var(--text1);
    margin-top: 0em !important;
    border-bottom: 1px solid var(--accent2);
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-family: inherit;
    font-style: normal;
  }
  .active {
    color: var(--text1);
  }
  a:hover {
    color: var(--text1);
    text-decoration: none;
  }
  .indicator {
    color: var(--background0);
  }
  .active .indicator {
    color: var(--text1);
  }
  ul {
    padding-left: 0em;
    list-style: none;
    font-family: inherit;
    li {
      line-height: 1em;
      margin-top: 0.9em;
      color: var(--text2);
      li {
        margin-left: 0.8em;
        color: var(--text2);
      }
      a {
        color: inherit;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .TOC {
    display: block;
    width: 100%;
    max-width: 100%;

    .contents-inline {
      display: block;
    }
    .contents-side {
      display: none;
    }
  }
}
@include media-breakpoint-up(lg) {
  .TOC {
    width: 280px;
    margin-right: 25px;
    display: block;
    position: sticky;
    top: 100px;
    margin-right: 25px;

    .contents-side {
      display: block;
    }
    .contents-inline {
      display: none;
    }
  }
}
@include media-breakpoint-up(xl) {
  .TOC {
    width: 280px;
    margin-right: 25px;
  }
}

#post .blog-title {
  margin-bottom: 40px;
  padding-bottom: 0px;
  padding-top: 40px;
  text-align: center;
  font-family: var(--header-font);
  h1 {
    font-size: 1.7em;
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--text1);
  }
}
#post .post-info-wrapper {
  color: var(--text2)
}
#post {
  img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
#post {
  padding: 0px 0;
}
.btp {
  margin-top: 80px;
  text-align: center;
  font-family: var(--header-font);
  p {
    margin-top: 1em;
  }
}
.hover-annotation {
  display: inline-block;
  border: 2px dashed var(--accent2);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/*---------------------------------------------
					Demo Page Start
-----------------------------------------------*/
img.img-page-icon {
  width: 20%;
  margin-bottom: 20px;
}
/*---------------------------------------------
					Sidebar Start
-----------------------------------------------*/
#sidebar {
  margin: 0px 20px 20px 0px;
  position: sticky;
  top: 117px;
  font-family: var(--header-font);
  font-size: 0.9em;
}
.user-info {
  margin-top: 1em;
  .user-name {
    font-size: 1.2em;
  }
}
.sidebar-social ul {
  font-size: 0.85em;
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  p {
    margin: 0;
  }
  li {
    margin-top: 0;
    margin-bottom: 0.3em;
    i.fa {
      margin-right: 0.5em;
    }
  }
}
.social-link-name {
  display: inline-block;
  text-decoration: inherit;
}
.avatar {
  // height: 185px;
  width: 70%;
  padding-left: auto;
  padding-right: auto;
  border-radius: 50%;
  border-style: None;
  border-color: var(--background3);
}
a.sidebar-links {
  color: inherit;
  text-decoration: none;
}
a.sidebar-links:hover {
  color: var(--hover2);
  text-decoration: underline;
}

@include media-breakpoint-down(lg) {
  #sidebar {
    margin: 0px 0px 30px 0px;
    position: relative;
    top: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .sidebar-left {
    display: flex;
    align-items: center;
  }
  .avatar-container {
    vertical-align: top;
    display: inline-block;
    margin-right: 30px;
  }
  .avatar {
    display: inline-block;
    width: 100px;
  }
  .user-info {
    margin-top: 0px;
    display: inline;
  }
  .sidebar-links {
    margin-right: 20px;
  }
  .sidebar-social {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: 20px;

    ul {
      margin-top: 0px;
      font-size: 1.3em;
      li {
        display: inline-block;
        margin-bottom: 0;
        i.fa {
          margin-right: 1em;
        }
      }
      li.sidebar-location {
        display: none;
      }
    }
  }
  .social-link-name {
    display: none;
  }
}

/*---------------------------------------------
					Responsive Start
-----------------------------------------------*/
@include media-breakpoint-down(sm) {
  .heading {
    padding-left: 0px;
  }
  .center-mobile {
    text-align: center;
  }
  body {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #site-header > nav.navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
}
